.footer{
  width: 100vw;
  height: 1.2rem;
  padding: .2rem .3rem;
  background: #fff;
  border-top: 1px solid #ededed;
  .btn{
    width: 6.9rem;
    height: .8rem;
    font-size: .34rem;
    line-height: .8rem;
    text-align: center;
    color: #fff;
    border-radius: .1rem;
    background: #0DC88C;
  }
}
.selectItem{
	position: relative;
	height: .88rem;
	border-bottom: 1px solid #E9E9E9;
	.name{
		float: left;
		width: 2rem;
		height: .88rem;
		font-size: .3rem;
		color: #999;
		text-align: left;
		line-height: .88rem;
	}
	.value{
		float: left;
		width: 4.5rem;
		height: .88rem;
		line-height: .88rem;
		font-size: .3rem;
		color: #ACB3BF;
		text-align: left;
		&.textLeft{
			text-align: left;
			color: #333;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
    }
    &.textRight{
			text-align: right;
			color: #333;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
    }
	}
	.icon{
		position: absolute;
		right: .2rem;
		top: 0;
		display: block;
		width: .4rem;
		height: .88rem;
		font-size: .34rem;
		line-height: .88rem;
    color: #999;
    text-align: right;
	}
}
.inputItem{
	position: relative;
	height: .88rem;
	border-bottom: 1px solid #e9e9e9;
	.name{
		float: left;
		width: 2rem;
		height: .88rem;
		font-size: .3rem;
		color: #999;
		text-align: left;
		line-height: .88rem;
	}
	.inputs{
		float: left;
		width: 4.9rem;
		height: .88rem;
		font-size: .3rem;
		color: #333;
		text-align: left;
		&::placeholder{
			color: #ACB3BF;
		}
	}
}
.textItem{
  padding: .2rem .3rem .2rem 0;
  border-bottom: 1px solid #e9e9e9;
  .name{
    float: left;
    width: 2rem;
    height: .44rem;
    line-height: .44rem;
    text-align: left;
    font-size: .3rem;
    color: #999;
  }
  .areas{
    float: left;
    width: 4.9rem;
    height: 1.36rem;
    line-height: .44rem;
    font-size: .3rem;
    color: #333;
    &::placeholder{
      color: #ACB3BF;
    }
  }
}
.noneBb{
	border-bottom: none !important;
}