._footer{
  width: 100vw;
  height: 1.2rem;
  padding: .2rem .3rem;
  background: #fff;
  border-top: 1px solid #ededed;
  .btn{
    width: 6.9rem;
    height: .8rem;
    font-size: .34rem;
    line-height: .8rem;
    text-align: center;
    color: #fff;
    border-radius: .1rem;
    background: #0DC88C;
  }
}
.selectItem{
	position: relative;
	height: .88rem;
	border-bottom: 1px solid #E9E9E9;
	.name{
		float: left;
		width: 2rem;
		height: .88rem;
		font-size: .3rem;
		color: #999;
		text-align: left;
		line-height: .88rem;
	}
	.value{
		float: left;
		width: 4.5rem;
		height: .88rem;
		line-height: .88rem;
		font-size: .3rem;
		color: #ACB3BF;
		text-align: left;
		&.textLeft{
			text-align: left;
			color: #333;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
    }
    &.textRight{
			text-align: right;
			color: #333;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
    }
	}
	.icon{
		position: absolute;
		right: .2rem;
		top: 0;
		display: block;
		width: .4rem;
		height: .88rem;
		font-size: .46rem;
		line-height: .88rem;
    color: #999;
    text-align: right;
	}
}
.inputItem{
	position: relative;
	height: .88rem;
	border-bottom: 1px solid #e9e9e9;
	.name{
		float: left;
		width: 2rem;
		height: .88rem;
		font-size: .3rem;
		color: #999;
		text-align: left;
		line-height: .88rem;
	}
	.inputs{
		float: left;
		width: 4.9rem;
		height: .88rem;
		font-size: .3rem;
		color: #333;
		text-align: left;
		&::placeholder{
			color: #ACB3BF;
		}
	}
}
.textItem{
  padding: .2rem .3rem .2rem 0;
  border-bottom: 1px solid #e9e9e9;
  .name{
    float: left;
    width: 2rem;
    height: .44rem;
    line-height: .44rem;
    text-align: left;
    font-size: .3rem;
    color: #999;
  }
  .areas{
    float: left;
    width: 4.9rem;
    height: 1.36rem;
    line-height: .44rem;
    font-size: .3rem;
    color: #333;
    &::placeholder{
      color: #ACB3BF;
    }
  }
}
.textShowItem{
	padding: .2rem 0;
	border-bottom: 1px solid #ededed;
	.name{
		float: left;
		width: 2rem;
		height: .44rem;
		line-height: .44rem;
		font-size: .3rem;
		color: #999;
	}
	.value{
		float: left;
		width: 4.9rem;
		min-height: 1.36rem;
		line-height: .44rem;
		font-size: .3rem;
		color: #333;
	}
}
.noneBb{
	border-bottom: none !important;
}


.mint-swipe-indicator{
	background: #E8E8E8 !important;
	opacity: 1 !important;
	&.is-active{
		background: #0DC88C !important;
	}
}
// 会议室日历插件
.wh_content_all{
	background-color: #fff !important;
}
.wh_top_changge{
	background: #F0F2F4 !important;
	display: block !important;
	position: relative !important;
}
.wh_top_changge::after{
	display: block;
	height: 0;
	content: '';
	clear: both;
}
.wh_top_changge li {
	&:first-child{
		position: absolute;
		left: 32vw;
		top: 0;
		display: block;
		width: 30px;
		height: 44px;
	}
	&:last-child{
		position: absolute;
		right: 32vw;
		top: 0;
		display: block;
		width: 30px;
		height: 44px;
	}
}
.wh_jiantou1 {
	position: absolute;
	top: 18px;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden;
	border-top: 4px solid #0DC88C !important;
	border-left: 4px solid #0DC88C !important;
	border-bottom: 4px solid #F0F2F4 !important;
	border-right: 4px solid #F0F2F4 !important;
}
.wh_content_li{
	height: 44px !important;
	text-align: center !important;
	color: #333 !important;
	line-height: 44px !important;
	font-size: .3rem !important;
}
.wh_jiantou2{
	position: absolute;
	top: 18px;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden;
	border-top: 4px solid #0DC88C !important;
	border-right: 4px solid #0DC88C !important;
	border-bottom: 4px solid #F0F2F4 !important;
	border-left: 4px solid #F0F2F4 !important;
}
.wh_item_date,.wh_top_tag{
	color: #333 !important;
}
.wh_other_dayhide{
	color: #999 !important;
}
.wh_content_all .wh_top_changge+.wh_content{
	background: #F0F2F4 !important;
}
.wh_content_item {
	width: 14% !important;
}
.wh_content_item .wh_isToday{
	background: #fff !important;
	color: #FC5A5A !important;
}
.wh_content_item .wh_chose_day{
	background: #0DC88C !important;
	color: #fff !important;
}
.wh_item_date{
	width: 28px !important;
	height: 28px !important;
	text-align: center !important;
}
.mark1{
	position: relative;
	&::before{
		position: absolute;
		bottom: -10px;
		left: 10px;
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 4px;
		background: #E8E8E8;
		content: '';
	}
}
.mark2{
	position: relative;
	&::before{
		position: absolute;
		bottom: -10px;
		left: 10px;
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 4px;
		background: #0DC88C;
		content: '';
	}
}