@import 'reset';
@import 'weui';

html,body {
  height:100%;
}
#app,.page{
  height:100%;
}
#app {
  display:flex;
  //height: 100vh;
  flex-direction: column;
}
#app > .app_bd{
  flex:1;
  overflow:hidden;
  height:100%;
}
#app > .app_bd > .tab-bd{
  height: calc(100% - 55px);
}
.page {
  display:flex;
  flex-direction: column;
}
.page_sub_hd {
  height:36px;
  line-height:36px;
  background:#f0f2f4;
}
.page_bd {
  flex:1;
  height:100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  transform: translate(0px);
  background: #f9f9f9;
}
.page_ft {
  height:45px;
}
.page_modal {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  width:100%;
  height:100%;
}
.tab-bar {
  height: 55px;
}
